.surface {
  width: 100%;
  height: 100%;

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cell {
  top: 0;
  left: 0;
  position: absolute;
  border-right: 1px solid var(--colorKeyBorder);
  border-bottom: 1px solid var(--colorKeyBorder);
  color: var(--colorText2);
}

.root {
  background-color: var(--colorKeyRoot);
}