.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--colorBack2);
  border-left: 1px solid var(--colorBack);
  overflow: auto;
}

.open {
  width: 30rem;
  max-width: 100%;
}

.closed {
  width: 2.5rem;
  padding-top: 2rem;
}

.sideways {
  transform: rotate(90deg);
}

.sidewaysInner {
  width: 90vh;
}

.sidebarHeader {
  display: flex;
  padding: 0 1rem;
}

.sidebarHeading {
  flex-grow: 1;
}

.sidebar h1 {
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.repo {
  padding: 1rem;
}